* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 32.0rem;
    text-align: center;
    margin: 3.0rem auto;
    /* border: 1px solid black; */
}

.text1 {
    font-size: 3.5rem;
    color: darkblue;
    margin-bottom: 1rem;
}

.text2 {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 1rem;
}

.text3 {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 2rem
}

.text4 {
    font-size: 2rem; 
    font-weight: lighter;
}

.text5 {
    font-size: 2rem;
    font-weight: lighter;
}

.text6 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 5rem;
}

.books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7rem;
}

.books img {
    /* height: 35rem; */
}

.price {
    font-size: 3rem;
    color: crimson;
}

.status {
    font-size: 2rem;
}

